body {
	background: url(img/table-background.jpg);
}

h1 {
	text-align: center;
}

#start {
	margin: 20px;
	text-align: center;
}

#bettingOutput {
	font-size: 20px;
}

#bet {
	font-size: 20px;
}

#myChips {
	font-size: 40px;
}

#highLow, #score {
	display: none;
}

#cardOutput {
	margin-top: 30px;
	height: 240px;
	margin: 30px;
}

.icard {
	padding: 10px;
	height: 200px;
	width: 150px;
	border: 1px solid black;
	border-radius: 14px;
	background-color: white;
	position: absolute;
	display: inline-block;
	left: 30px;
}

.hearts .suit:after {
	content: '\2665';
}

.spades .suit:after {
	content: '\2660';
}

.clubs .suit:after {
	content: '\2663';
}

.diams .suit:after {
	content: '\2666';
}

.spades, .clubs {
	color: black;
}

.hearts, .diams {
	color: red;
}

.cardtop {
	font-size: 2em;
	top: 5px;
	left: 5px;
	position: absolute;
	line-height: 0.7em;
}

.cardmid {
	text-align: center;
	font-size: 7em;
	top: 38px;
	left: 50px;
	position: absolute;
}

.cardbottom {
	line-height: 0.7em;
	font-size: 2em;
	transform: rotate(-180deg);
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	bottom: 5px;
	right: 5px;
	position: absolute;
}

.btn {
	border-radius: 5px;
	padding: 9px 20px;
	color: white;
	display: inline-block;
	text-shadow: 1px 1px #000000;
}

#btnstart {
	background-color: black;
}

#btnhigh {
	text-align: center;
	background-color: red;
}

#btnlow {
	text-align: center;
	background-color: blue;
}	

#dollars {
	font-size: 2.5em;
}

#message {
	text-align: center;
}


